{% extends 'base.html'%}
{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ course }}</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="breadcrumbs mt-0">
        <div class="container">
            <div class="row">
                <div class=" justify-content-between align-items-center  col-6">
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                <h6>REQUIREMENT</h6>
                <p>For a student to qualify for this course the student must have pass six subjets in BECE. This must include mathematics, English and Science. 
                </div>

                <div class=" justify-content-between align-items-center col-6">
                <h6>SUBJECTS</h6>
                <p> This is the subjects to be studied in the school.</p>
                <ul>
                
                    <li>{{ program_with_courses.course1 }}</li>
                    <li>{{ program_with_courses.course2 }}</li>
                    <li>{{ program_with_courses.course3 }}</li>
                    <li>{{ program_with_courses.course4 }}</li>
                  {% for core_course in core_courses %}
                    <li>{{ core_course }}</li>
                  {% endfor %}
            
                </ul>
            </div>
        </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}