{% extends 'base.html'%}
{% load static %}

{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ course }}</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="breadcrumbs mt-0">
        <div class="container">
            <div class="row">
                <div class=" justify-content-between align-items-center  col-6">
                <h6>REQUIREMENT</h6>
                <p>For a student to qualify for this course the student must have pass six subjets in BECE. This must include mathematics, English and Science. 
                </div>

                <div class=" justify-content-between align-items-center col-6">
                <h6>SUBJECTS</h6>
                <p> This is the subjects to be studied in the school.</p>
                <ul>
                    <li>English</li>
                    <li>Mathematics</li>
                    <li>Integrated Science</li>
                    <li>Social Studies</li>
                    <li>Biology</li>
                    <li>Chemistry</li>
                    <li>Elective Mathematics</li>
                    <li>Physics</li>
                </ul>
            </div>
        </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}