{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Programs</h2>
          <p>This are the programs offered by the school.</p>
        </div>

        <div class="row">
          {% for program in programs %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <h4><a href="{{ program.program_name }}">{{ program.program_name }}</a></h4>
              <p>Click here for detail about the course of study</p>
            </div>
          </div>
          {% endfor %}
        </div>
  </div>
</section><!-- End Services Section -->

{% endblock content %}