{% extends 'base.html' %}

{% block content %}

    <p class="alert-danger text-danger mt-5 text-center">{% for message in messages %}{{ message }} {% endfor %}</p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
            {% if pk is None %}

                {{ form1.first_name }}<br>
                {{ form1.last_name }}<br>
                {{ form1.username }}<br>
                {{ form1.email }}<br>
                {{ form2.phone_number }}<br>
                {{ form1.password }}<br>
                {{ form1.passwordConfirm }}<br>
                <button class="btn btn-primary btn-lg btn-block mb-3" type="submit">Register</button>
            {% else %}
                {{ form1.first_name }}<br>
                {{ form1.last_name }}<br>
                {{ form1.username }}<br>
                {{ form1.email }}<br>
                {{ form2.phone_number }}<br>
                <span>Admin </span>{{ form1.is_superuser }}<br>
                <span>Staff </span>{{ form1.is_staff }}<br>
                <span>Student </span>{{ form2.is_student }}<br>
                <span>Active </span>{{ form1.is_active }}<br>
                <button class="btn btn-primary btn-lg btn-block mb-3" type="submit">Update</button>
            {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}